/* colors */

.color-primary {
    color: black;
}
.color-secundary {
    color: #323232;
}
.color-third {
    color: #e6e6e6;
}
.color-white {
    color: #fff;
}

.bg-color-primary {
    background-color: black;
}
.bg-color-secundary {
    background-color: #323232;
}
.bg-color-third {
    background-color: #e6e6e6;
}
.bg-color-white {
    background-color: #fff;
}

/* fonts */
.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* background */
body {
    background: url(../assets/img/shadow-background.png) #323232;
    background-size: 100px 85px;
    background-repeat: repeat;
}

/* Présentation team - bloc noir + img */
.teamBlock {
    border-radius: 50px;
    width: 80vw;
    height: 40vw;
    /* width: 1143px;
    height: 566px; */
}
.teamPic {
    padding: 5%;
}


/*component buttons*/
.btnNav {
    border-color: #757474;
    
}

.btnNav:hover{
    transform: scale(1.2);
}

/* footer*/
.hrFooter {
    
    background-color: #fff;
    border-top: 5px solid white !important;
}
/* formulaire */
.form-control {
    border-color: #757474;
}

/*button formulaire*/
.btnForm {
    border-color: #757474;

}
